@import url('fonts.css');

@import url('reset.css');

header {
  max-width: 692px;
  margin: 0 auto;
}

/* ======== Consulting section - task 1 ========= */
.container-consulting {
  padding: 140px 0;
  max-width: 692px;
  margin: 0 auto;
  background-color: #ffffff;
}

.title-meeting {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 1.27;
  color: #37393f;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 15px;
}

.title-vision,
.title-mission {
  font-family: 'Poppins', sans-serif;
}

.text-meeting {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.46;
  color: #7d7d7d;
  margin-bottom: 42px;
}

.subtitle-meeting {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.27;
  font-weight: 600;
  color: #6B77E5;
  margin-bottom: 12px;
}

.sub-text {
  margin-bottom: 40px;
}

/* benefits */
.block-benefits {
  font-size: 0;
  margin-bottom: 50px;
}

.table {
  max-width: 331px;
  display: inline-block;
  margin-right: 29px;
  /* vertical-align: top; */
}

.benefits-text {
  max-width: 332px;
  display: inline-block;
}

.title-benefits {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.27;
  color: #37393f;
  margin-bottom: 15px;
}

.sub-title-benefits {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
  color: #40ddb6;
  margin-bottom: 21px;
}

.list-benefits {
  font-family: 'Inter', sans-serif;
}

.benefits-item {
  font-size: 18px;
  color: #7d7d7d;
  line-height: 1.2;
  margin-bottom: 30px;
  min-height: 27px;
  line-height: normal;
}

.benefits-item:last-child {
  margin-bottom: 0;
}

.benefits-item::before {
  content: '';
  display: inline-block;
  background: url('../img/check-icon.svg') 0 0 no-repeat;
  width: 27px;
  height: 27px;
  margin-right: 8px;
}

/* ======== About us section - task 2 ========= */
.container-about-us {
  padding: 140px 0;
  max-width: 692px;
  margin: 0 auto;
}

.title-welcome {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: #37393f;
  margin-bottom: 16px;
}

.title-welcome::before {
  content: '';
  display: inline-block;
  margin-right: 6px;
  width: 12px;
  height: 12px;
  background-color: #40ddb6;
}

.title-about-us {
  max-width: 413px;
  margin-bottom: 10px;
}

.text-about-us {
  margin-bottom: 48px;
}

.text-about-us p:not(:last-child) {
  line-height: 1.46;
  margin-bottom: 16px;
}

.our-vision-wrap,
.our-mission-wrap {
  border: 1px solid #e3e3e3;
  padding: 28px 41px 28px 38px;
}

.our-vision-wrap {
  margin-bottom: 31px;
}

.checked-block-wrap {
  margin-bottom: 48px;
}

.title-checked {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #37393f;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
}

.title-checked::before {
  content: '';
  display: inline-block;
  background: url('../img/check-icon.svg') 0 0 no-repeat;
  width: 27px;
  height: 27px;
  margin-right: 19px;
}

.text-checked {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.46;
  color: #7d7d7d;
  padding-left: 46px;
}


.link-more {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.22;
  display: inline-block;
  padding: 22px 35px;
  background-color: #6b77e5;
  color: #ffffff;
  margin-bottom: 50px;
  transition: background-color 0.3s;
}

.link-more:hover {
  background-color: #0d34e2;
}

/* ======== About us section - task 3 ========= */
.container-work-process {
  max-width: 1220px;
  margin: 0 auto;
  outline: 1px solid red;
  text-align: center;
}

.title-work-process {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: #37393f;
  margin-bottom: 16px;
}

.title-work-process::before {
  content: '';
  display: inline-block;
  margin-right: 6px;
  width: 12px;
  height: 12px;
  background-color: #40ddb6;
}

.subtitle-work-process {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  color: #37393f;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 41px;
}

.work-wrap {
  font-size: 0;

}
.service-wrap {
  display: inline-block;
  background-color: #f4f4f4;
  max-width: 386px;
  width: 100%;
  padding: 57px 43px 58px 43px;
  vertical-align: top;
}

.service-wrap:not(:last-child) {
  margin-right: 31px;
}

.service-title {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #37393f;
  line-height: 1.28;
  margin-bottom: 16px;
}

.work-text {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #7d7d7d;
  font-weight: 400;
  line-height: 1.46;
  margin-bottom: 37px;
}

.apointment-service::before {
  content: '';
  display: inline-block;
  width: 72px;
  height: 95px;
  background: url('../img/icon-1-green.svg') 0 0 no-repeat;
  margin-top: -94px;
  transition: all 0.3s;
}

.apointment-service:hover::before {
  background: url('../img/icon-1-blue.svg') 0 0 no-repeat;
  cursor: pointer;
}

.consultation-service::before {
  content: '';
  display: inline-block;
  width: 72px;
  height: 95px;
  background: url('../img/icon-2-green.svg') 0 0 no-repeat;
  margin-top: -94px;
  transition: all 0.3s;
}

.consultation-service:hover::before {
  background: url('../img/icon-2-blue.svg') 0 0 no-repeat;
  cursor: pointer;
}

.enjoy-service::before {
  content: '';
  display: inline-block;
  width: 72px;
  height: 95px;
  background: url('../img/icon-3-green.svg') 0 0 no-repeat;
  margin-top: -94px;
  transition: all 0.3s;
}

.enjoy-service:hover::before {
  background: url('../img/icon-3-blue.svg') 0 0 no-repeat;
  cursor: pointer;
}

.work-link {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #6b77e5;
  font-weight: 400;
  line-height: 1.46;
  font-weight: 600;
  line-height: normal;
  text-decoration: transparent;
  transition: color 0.3s;
}

.work-link:hover {
  color: #0d34e2;
}


/* ======== Jewllery section - task 4 ========= */
.container-jewellery {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 193px;
  outline: 1px solid orange;
  height: 1000px;
  font-family: 'Cormorant Infant', serif;
}