@import url("reset.css");

@import url("fonts.css");

/* default styles */
.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}

.wrapper>main {
  flex-grow: 1;
}

.header {
  background-color: #77608d;
  padding: 15px;
  text-align: center;
}

.footer {
  background-color: #7a956b;
  padding: 15px;
  text-align: center;
}

/* main styles */

/* Section Popular */
.popular {
  background: url("../images/deco-img.png") no-repeat;
  background-color: #fefaf4;
  background-position: bottom right;
}

.popular__container {
  max-width: 1197px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 125px;
  padding-bottom: 115px;
}

.title {
  color: #000;
  font-family: "DM Serif Text", serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 27px;
}

.subtitle {
  color: #606060;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 53px;
}

.popular__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
  row-gap: 24px;
}

.popular__column {
  flex: 0 0 33.33%;
  padding: 0 24px;
}

.popular__image {
  object-position: center;
  object-fit: cover;
  aspect-ratio: 357 / 240;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  transition: box-shadow 0.3s;
}

.popular__image:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.popular__header {
  color: #000;
  font-family: "DM Serif Text", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 16px;
}

.popular__text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 8px;
}

.popular__link {
  display: flex;
  justify-content: space-between;
}

.popular__more {
  color: #F55529;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
}

.popular__more:hover {
  text-decoration: underline;
}

/* RESPONSIVE CODE */
@media (max-width: 1250px) {

  .popular {
    background: url(../images/deco-img.png) no-repeat;
    background-color: #fefaf4;
    background-position: top right;
    background-size: 12%;
  }
}

@media (max-width: 991.98px) {
  .popular {
    background-image: none;
  }

  .popular__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .title {
    font-size: 32px;
  }

  .popular__items {
    row-gap: 30px;
  }

  .popular__column {
    flex: 0 0 50%;
  }
}

@media (max-width: 767.98px) {

  .title,
  .subtitle {
    text-align: center;
  }

  .popular__column {
    flex: 0 0 50%;
  }
}

@media (max-width: 479.98px) {

  .popular__header {
    font-size: 20px;
  }

  .popular__column {
    flex: 0 0 100%;
  }

  .subtitle {
    margin-bottom: 30px;
  }
}

/* Section Most Popular Product */

.mostpopular__container {
  max-width: 1203px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 125px;
  padding-bottom: 115px;
  text-align: center;
}

.subtitle-mostpop {
  color: #818181;
  font-family: "Cormorant Infant", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 62px;
}

.mostpopular__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 88px;
}


.mostpopular__item {
  flex: 0 0 22%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: box-shadow 0.3s;
}

.mostpopular__item:hover {
  box-shadow: 0 5px 5px 2px #ccc;
}

.mostpopular__image {
  margin-bottom: 17px;
  object-position: center;
  object-fit: cover;
  aspect-ratio: 270 / 270;
  width: 100%;
}

.mostpopular__link,
.mostpopular__price {
  color: #000;
  font-family: "Cormorant Infant", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  transition: color 0.3s;
}

.mostpopular__link:hover {
  color: #ff7a49;
}

.mostpopular__btn {
  padding: 12px 42.5px;
  background-color: #ff7a49;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  transition: all 0.3s;
}

.mostpopular__btn:hover {
  box-shadow: 0 0 0 1px #ff7a49;
  color: #ff7a49;
  background-color: #fff;
}

/* RESPONSIVE CODE */
@media (max-width: 1250px) {

  .mostpopular__items {
    row-gap: 30px;
  }

  .mostpopular__item {
    text-align: left;
  }
}

@media (max-width: 991.98px) {

  .mostpopular__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .mostpopular__item {
      flex: 0 0 30%;
      text-align: left;
    
  }

  .title {
    font-size: 32px;
  }

}

@media (max-width: 767.98px) {

  .mostpopular__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .subtitle-mostpop {
    font-size: 20px;
  }

  .mostpopular__item {
    flex-basis: 45%;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: left;
  }

  .mostpopular__link {
    font-size: 20px;
  }
}

@media (max-width: 479.98px) {

  .mostpopular__item {
    flex-basis: 100%;
  }

  .mostpopular__header {
    font-size: 20px;
  }

  .subtitle {
    margin-bottom: 30px;
  }
}

/* Section Our Products */
.our-products {
  background-color: #0e333d;
}

.our-products__container {
  max-width: 1203px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 125px;
  padding-bottom: 115px;
  text-align: center;
}

.title--products {
  color: #fff;
}

.subtitle-products {
  color: #ebebeb;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.27;
  margin-bottom: 34px;
}

.our-products__filter {
  display: flex;
  justify-content: center;
  column-gap: 41px;
  margin-bottom: 77px;
}

.our-products__filter-link {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.27;
}

.our-products__filter-link:hover {
  text-decoration: underline;
}

.our-products__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.our-products__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  flex: 0 1 23%;
}

.our-products__image {
  margin-bottom: 17px;
  border-radius: 5px;
  
  object-position: center;
  object-fit: cover;
  aspect-ratio: 270 / 270;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.our-products__image:hover {
  transform: scale(1.04);
}

.our-products__link,
.our-products__price {
  color: #fff;
  font-family: "Cormorant Infant", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  transition: color 0.3s;
}

.our-products__link:hover {
  color: #ff7a49;
}

/* RESPONSIVE CODE */
@media (max-width: 1250px){
  .our-products__item {
    flex: 1 1 30%; 
  }
}

@media (max-width: 991.98px){
  .our-products__item {
    flex: 1 1 30%; 
  }
}

@media (max-width: 767.98px){

  .our-products__item {
    flex: 1 1 45%;
    text-align: left;
  }
}
@media (max-width: 479.98px){

  .our-products__item {
    flex: 1 1 100%;
  }
}