$white: #fff;
$mainColor: #333;
$accentColor: #8a33fd;
$accentColor2: #752dd5;
$secondaryColor: #807d7e;
$borderColor: 1px solid #3c4242;
$bgColor: #f6f6f6;
$dark: #3c4242;
$grey: #bebcbd;

// media queries
$pc: 1239.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;