@import "_fonts.scss";
@import "_reset.scss";
@import "_vars.scss";

.header {

  &__container {
    margin: 0 auto;
    max-width: 1270px;
    padding: 34px 15px 31px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 163px;
  }

  &__logo {
    flex: 0 0 91px;

    img {
      max-width: 91px;
      width: 100%;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  &__forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 210px;
  }

  &__search-form {
    flex: 0 0 184px;
    position: relative;
    display: flex;
    align-items: center;


    &::before {
      content: "";
      display: block;
      background-image: url("../images/icon-search.svg");
      position: absolute;
      left: 30px;
      width: 20px;
      height: 20px;
    }
  }

  &__input {
    width: 100%;
    background-color: $bgColor;
    padding: 0 48px;
    min-height: 46px;
    border-radius: 8px;
    font-family: "Causten", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  &__button {
    padding: 12px 48px;
    border-radius: 8px;
    background-color: $accentColor;
    color: $fontColor;
    font-family: "Causten", sans-serif;
    font-size: 18px;
    font-weight: 500;

    &--login {
    }

    &--signup {
    }
  }

  &__select-form {
  }

  &__select {
    font-family: "Causten", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  &__option {
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}
.icon-menu {
  display: none;
}
