@import "_fonts.scss";
@import "_reset.scss";
@import "_vars.scss";

body {
  .menu-open & {
    overflow: hidden;
  }
}

.header {
  font-family: "Causten", sans-serif;
  color: $mainColor;
  font-size: 18px;
  background-color: $white;
  border-bottom: 1px solid $grey;

  @media (min-width: $tablet) {
    padding: 32px 0;
  }

  @media (max-width: $tablet) {
    padding: 15px 0;
  }


  // .header__container
  &__container {
    display: flex;
    align-items: center;
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;

    box-sizing: content-box;

    @media (min-width: $pc) {
      gap: 70px;
    }

    @media (max-width: $pc) {
      gap: 20px;
    }
  }
  // .header__logo
  &__logo {

    @media (max-width: $tablet) {
      position: relative;
      z-index: 1;
    }
  }

  // .header__link-logo
  &__link-logo {
    display: block;
    width: 91px;
    height: 45px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .header__actions
  &__actions {

    @media (min-width: $tablet) {
      flex-grow: 1;
    }

    @media (min-width: $tablet) {
      flex-grow: 1;
    }

    @media (max-width: $tablet) {
      position: fixed;
      top: 0;
      left: -100%;

      padding: 100px 20px 30px;
      width: 100%;
      height: 100%;

      background-color: $white;
      opacity: 0;
      overflow-y: auto;

      transition: left 0.3s ease, opacity 0.3s ease;

      &::before {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 75px;

        background-color: $white;

        content: "";
      }
    }

    .menu-open & {
      left: 0;
      opacity: 1;

      &::before {
        left: 0;
      }
    }
  }
  // .header__inner-actions
  &__inner-actions {

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 66px;
    }

    @media (max-width: $tablet) {
      max-width: 500px;
      margin: 0 auto;
    }
  }
  // .header__forms
  &__forms {

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      flex-grow: 1;
      gap: 20px;
    }

    &:not(:last-child) {
      @media (max-width: $tablet) {
        margin-bottom: 20px;
      }
    }
  }
  // .header__search-form
  &__search-form {

    position: relative;

    @media (min-width: $tablet) {
      margin: 0 auto;
    }

    &:not(:last-child) {
      @media (max-width: $tablet) {
        margin-bottom: 20px;
      }
    }
  }

  // .header__input
  &__input {
    height: 46px;
    padding: 0 20px 0 80px;

    background-color: $bgColor;
    border-radius: 8px;
    border: 1px solid transparent;

    transition: padding 0.3s ease, border-color 0.3s ease;

    @media (min-width: $tablet) {
      width: 184px;
    }

    @media (max-width: $tablet) {
      width: 100%;
    }

    &:focus {
      outline: none;
      border-color: $dark;
    }

    &:focus,
    &:valid {
      padding-left: 15px;
      padding-right: 40px;

      + .header__search-btn {
        left: calc(100% - 30px);
      }
    }
  }

  // .header__search-btn
  &__search-btn {
    position: absolute;
    top: 50%;
    left: 48px;

    width: 20px;
    height: 20px;

    background: url("../images/icon-search.svg") center / contain no-repeat;

    transform: translateY(-50%);

    transition: left 0.3s ease, transform 0.3s ease;
    will-change: transform;

    &:hover,
    &:focus {
      transform: translateY(-50%) scale(1.1);
    }
  }

  // .header__language
  &__language {

    position: relative;

    display: flex;
    align-items: center;
    height: 46px;
    column-gap: 20px;
    margin-left: auto;

    cursor: pointer;

    &::after {
      flex-shrink: 0;
      width: 10px;
      height: 5px;

      background: url("../images/arrow-down.svg") center / contain no-repeat;

      transition: transform 0.3s ease;

      content: "";
    }

    &:hover,
    &:focus {
      &::after {
        transform: rotate(-180deg);
      }

      .header__list-language {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
  // .header__current-language
  &__current-language {

    @media (max-width: $tablet) {
      flex-grow: 1;
      padding-left: 15px;
    }
  }
  // .header__list-language
  &__list-language {

    position: absolute;
    top: 100%;
    left: 0;

    background-color: $white;
    border: 1px solid $dark;
    border-radius: 8px;
    overflow: hidden;

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);

    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

    @media (max-width: $tablet) {
      min-width: 100%;
    }

    a {
      display: block;
      padding: 10px;

      transition: background-color 0.3s ease;

      @media (max-width: $tablet) {
        padding-left: 15px;
      }

      &:hover,
      &:focus {
        background-color: $bgColor;
      }
    }
  }
  // .header__buttons
  &__buttons {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 27px;

    @media (max-width: $tablet) {
      .button {
        flex-grow: 1;
      }
    }
  }
}

  .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 48px;
  min-height: 46px;

  font-size: 18px;
  font-weight: 500;

  border: 1px solid transparent;
  border-radius: 8px;

  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;


  // .button--login
  &--login {
    color: $white;

    background-color: $accentColor;

    &:hover,
    &:focus {
      background-color: $accentColor2;
    }
  }

  // .button--signup
  &--signup {

    color: $accentColor;

    border-color: $dark;

    &:hover,
    &:focus {
      background-color: $accentColor2;
      color: $white;
      border-color: $accentColor2;
    }
  }
}

.icon-menu {
  @media (min-width: $tablet) {
    display: none;
  }

  @media (max-width: $tablet) {
    position: relative;
    z-index: 5;

    width: 30px;
    height: 18px;
    margin-left: auto;

    cursor: pointer;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $dark;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    .menu-open & {
      span {
        width: 0;
        background-color: $dark;
      }
      &::before,
      &::after {
        background-color: $dark;
      }
      &::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
  }
}

  // SECTION CONTENT
  /* content */
  .section {
    overflow: clip;

    @media(min-width: $mobile) {
      & {
        display: flex;
        flex-direction: row-reverse;
      }
    }

		// .section__image
		&__image {
      
      img{
        max-width: 100%;
      }
		}
    
    @media (min-width: $mobile) {
      &__image {
        position: relative;
        flex: 0 0 50%;
        transform: translate(100%, 0);
    }
  }

		// .section__content
		&__content {
      flex: 0 0 100%;
		}

		// .section__container
		&__container {
      max-width: 1270px;
      margin: 0 auto;
      padding: 0 15px;
      background-color: #eeeeee;
      display: flex;
      flex-direction: row-reverse;
		}
		// .section__body
		&__body {
      width: 50%;
      max-width: 568px;
      padding-top: 60px;
      padding-left: 15px;

      @media (min-width: $mobile) {
        & {
          // flex: 0 0 100%;
        }
      }
		}
		// .section__title
		&__title {
      color: #333;
      font-family: "Core Sans C", sans-serif;
      font-size: 34px;
      font-weight: 600;
      letter-spacing: 0.68px;
      margin-bottom: 50px;
		}
		// .section__link
		&__link {
      color: #8a33fd;
      font-family: "Causten", sans-serif;
      font-size: 22px;
      font-weight: 500;
      height: 58px;
      border: 1px solid $dark;
      border-radius: 8px;
      padding: 16px 20px;
      text-align: center;
      margin-bottom: 20px;

      & a::before {
        content: "";
        width: 20px;
        height: 20px;
        background: url("../images/icon-google.svg")  no-repeat;
        margin-right: 12px;
      }
		}

    &__link--twitter {
      margin-bottom: 50px;
      & a::before {
        background: url("../images/icon-twitter.svg") 0 0 no-repeat;
      }
    }


		// .section__separator
		&__separator {
      max-width: 568px;
      position: relative;
      text-align: center;
      margin-bottom: 50px;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: calc(50% - 2px);
        left: 0;
        background-color: #d9d9d9;
      }

      span {
        color: #666;
        font-family: "Core Sans C", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;

        padding: 0 23px;
        position: relative;
        z-index: 2;
        background-color: #eee;
      }
		}


		// .section__form
		&__form {
		}
		// .section__input
		&__input {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      color: #3c4242;
      font-family: "Causten", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.36px;
      
      & label {
        margin-bottom: 10px;
      }
      
      & input {
        border: 1px solid $dark;
        border-radius: 8px;
        width: 100%;
        height: 58px;
        padding: 0 15px;
      }

      &--password{
        margin-bottom: 10px;
      }
		}
		// .section__hide
		&__hide {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 18px;
        height: 15px;
        display: block;
        background: url("../images/icon-hide-pass.svg") 0 0 no-repeat;
        margin-right: 15px;
      }
		}
		// .section__forgot-pass
		&__forgot-pass {
      margin-bottom: 30px;

      & a {
      color: #3c4242;
      font-family: "Causten", sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      }
		}
		// .section__button
		&__button {
      padding: 16px 58px;
      background-color: $accentColor;
      border-radius: 8px;
      border: 1px solid transparent;
      margin-bottom: 10px;

      color: $white;
      font-family: "Causten", sans-serif;
      font-size: 18px;
      font-weight: 500;
      transition: 0.3s;

      &:hover {
        color: $accentColor;
        background-color: $white;
        border: 1px solid $grey;
      }
		}
		// .section__reminder
		&__reminder {
      color: #3c4242;
      font-family: "Causten", sans-serif;
      font-size: 16px;
      font-weight: 400;

      & a {
        text-decoration: underline;
      }
		}
}
