@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header {
  border-bottom: 1px solid #bebcbd;
}
.header__container {
  margin: 0 auto;
  max-width: 1270px;
  padding: 34px 15px 31px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91px;
          flex: 0 0 91px;
  position: relative;
  z-index: 5;
}
.header__logo img {
  max-width: 91px;
  width: 100%;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 76px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  z-index: 4;
}
.header__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 71px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__search-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 184px;
          flex: 0 0 184px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.header__search-form::before {
  content: "";
  display: block;
  background-image: url("../images/icon-search.svg");
  position: absolute;
  left: 30px;
  width: 20px;
  height: 20px;
}
.header__input {
  width: 100%;
  background-color: #f6f6f6;
  padding: 0 48px;
  min-height: 46px;
  border-radius: 8px;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.header__button {
  padding: 12px 48px;
  border-radius: 8px;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.header__button--login {
  background-color: #8a33fd;
  color: #fff;
  border: 1px solid transparent;
}
.header__button--login:hover {
  background-color: #fff;
  color: #8a33fd;
  border: 1px solid #3c4242;
}
.header__button--signup {
  background-color: #fff;
  color: #8a33fd;
  border: 1px solid #3c4242;
}
.header__button--signup:hover {
  background-color: #8a33fd;
  color: #fff;
  border: 1px solid transparent;
}
.header__select {
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 27px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon-menu {
  display: none;
}

@media (max-width: 960px) {
  .header__container {
    padding: 17px 8px 16px 8px;
  }
  .header__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 79px;
    left: -100%;
    background-color: rgba(204, 204, 204, 0.631);
    padding: 15px 15px;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .header__actions::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 80px;
    top: 100%;
    left: 0;
    z-index: 2;
    background-color: rgb(204, 204, 204);
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu-open .header__actions, .menu-open .header::before {
    left: 0;
  }
  .header__forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__search-form {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 54px;
        flex-basis: 54px;
    width: 100%;
  }
  .header__select {
    min-height: 46px;
    border-radius: 8px;
  }
  .icon-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    height: 45px;
    position: relative;
    display: block;
    z-index: 5;
    background-color: rgba(128, 128, 128, 0.192);
    border-radius: 7px;
  }
  .icon-menu::before, .icon-menu::after, .icon-menu span {
    content: "";
    height: 2px;
    width: 70%;
    left: 7px;
    position: absolute;
    background-color: #000;
    z-index: 3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::before {
    top: 12px;
  }
  .icon-menu::after {
    bottom: 12px;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}
@media (max-width: 450px) {
  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}