
/* local fonts */
@import url("fonts.css");

/* reset styles */
@import url("reset.css");


/* experiments */
.section-experiments {
  font-family: 'Norwester', sans-serif;
}

.container-experiments {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1000px;
}

.title-experiments {
font-size: 24px;
color: chocolate;
text-decoration: underline;
letter-spacing: 5px;
text-shadow: 2px 3px 5px lightgreen;
font-style: oblique;
}

/* section book */
.section-book {
  font-family: 'Inter', sans-serif;
  background-color: #f5f8fc;
}

/* 1) обмежуючий контейнер */
.container-book {
  margin: 0 auto;
  padding: 140px 70px 150px 40px;
  max-width: 1440px;
  font-size: 0;
}

/* 3) заг. блок для картинки */
.image-wrap {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}

/* 4) загальний клас для обгортки картинки */
.single-image-wrap {
  margin-right: 150px;
  display: inline-block;
  border: 10px solid #ffca42;
  
}

/* 5) окремий клас .man для обгортки окремої картинки */
.man {
  width: 545px;
  height: 640px;
}

.man img {
  margin-left: -30px;
  margin-top: -30px;
  box-shadow: 0 0 20px 0 rgba(27, 55, 100, 0.30);
}

/* 2) контентний блок */
.book-info-wrapper {
  max-width: 605px;
  display: inline-block;
  font-size: 16px;
}

.title-book {
  font-family: 'Cardo', serif;
  font-size: 42px;
  line-height: 1.2;
  color: #1b3764;
  margin-bottom: 24px;
}

.deco-bottom {
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #ffca42;
  margin-bottom: 33px;
}

.text-book p {
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  margin-bottom: 34px;
  line-height: 1.8;
  color: #969aa0;
}

.static-count {
  font-family: 'Cardo', serif;
  font-size: 54px;
  line-height: 1.42;
}

.static-description {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 1.27;
  margin-right: 20px;
  color: #969aa0;
}

.static-wrap {
  display: inline-block;
  padding-right: 10px;
  padding-left: 12px;
  margin-bottom: 55px;
  margin-right: 25px;
}

.wrap-first,
.wrap-second {
  border-right: 1px solid #ffca42;
}

.book-contact {
  max-width: 484px;
  background-color: #1b3764;
  padding: 16px 20px;
  font-size: 0;
}

.contact-person {
  font-family: 'Cardo', serif;
  font-size: 22px;
  color: #ffca42;
  line-height: 1.2;
  margin-bottom: 10px;
}

.contact-email,
.contact-phone {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #b4c7e7;
  line-height: 1.58;
}

.contacts-wrap {
  display: inline-block;
  width: 274px;
  vertical-align: top;
  padding-top: 18px;
}

.qr-wrap {
  display: inline-block;
  width: 130px;
  margin-right: 40px;
}