/* local fonts */
@import url("fonts.css");

/* reset styles */
@import url("reset.css");


/* The Best Value for Business and Corporation */
.container-consulting {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  max-width: 1020px;
  padding: 145px 55px 145px 69px;
}

.title-wrap {
  max-width: 413px;
  margin-bottom: 20px;
}

.title-welcome {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: #37393f;
  margin-bottom: 16px;
  padding-left: 18px;

  background-image: url('../img/deco-box.svg');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 0 5px;
}

.title-care {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
}

.text-consulting p {
  font-size: 18px;
  line-height: 1.46;
  color: #7d7d7d;
  max-width: 673px;
  margin-bottom: 15px;
}

.text-consulting {
  margin-bottom: 20px;
}

.list-consulting li {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.65;
  color: #37393f;
  padding-left: 35px;
  margin-bottom: 23px;

  background-image: url('../img/check-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 3px;
}

.list-consulting {
  margin-bottom: 43px;
}

.points-wrap {
  margin-bottom: 37px;
  font-size: 0;
}

.experience-wrap,
.awards-wrap {
  border: 1px solid #e3e3e3;
  display: inline-block;
}

.experience-wrap {
  margin-right: 21px;
  padding: 32px 32px 32px 89px;
  max-width: 295px;

  background-image: url('../img/experience-icon.svg');
  background-repeat: no-repeat;
  background-position: 31px 32px;
  background-size: 39px;
}

.awards-wrap {
  padding: 31px 37px 32px 93px;
  max-width: 296px;

  background-image: url('../img/awards-icon.svg');
  background-repeat: no-repeat;
  background-position: 37px 31px;
  background-size: 39px;
}

.title-experience,
.title-awards {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #37393f;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 3px;
}

.experience-wrap>p,
.awards-wrap>p {
  color: #7d7d7d;
  font-size: 16px;
  line-height: 1.35;
}

.link-consulting {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  background-color: #6b77e5;
  padding: 22px 27px;
}

/* Our Latest Projects */
.container-projects {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  max-width: 1220px;
  padding: 150px 0;
}

.top-textcontent {
  padding: 0 225px;
  margin-bottom: 47px;
  text-align: center;
}

.title-projects {
  font-size: 18px;
  color: #37393f;
  line-height: 1.22;
  font-weight: 500;
  margin-bottom: 14px;

  background-image: url('../img/deco-box.svg');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 305px;
}

.title-discover {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 14px;
}

.top-textcontent>p {
  font-size: 18px;
  line-height: 1.46;
  color: #7d7d7d;
}

.projects-wrap {
  margin-bottom: 58px;
  font-size: 0;
}

.project {
  display: inline-block;
  max-width: 384px;
  width: 100%;
}

.project-image {
  max-width: 384px;
  height: 501px;
  margin-bottom: 24px;
  background-repeat: no-repeat;
}

.card-first .project-image {
  background-image: url('../img/monitor-photo.jpg');
}

.card-second .project-image {
  background-image: url('../img/man-image.jpg');
}

.card-third .project-image {
  background-image: url('../img/smartphone-image.jpg');
}

.card-fourth .project-image {
  background-image: url('../img/woman-image.jpg');
}

.card-fifth .project-image {
  background-image: url('../img/diagram-image.jpg');
}

.card-sixth .project-image {
  background-image: url('../img/laptop-image.jpg');
}

.card-first,
.card-second,
.card-fourth,
.card-fifth {
  margin-right: 34px;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-date {
  font-size: 14px;
  color: #7d7d7d;
  line-height: 1.46;
  padding-left: 25px;

  background-image: url('../img/todo-icon.svg');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: left;
}


/* fashion section */
.container-fashion {
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.fashion-wrap {
  font-size: 0;
  border-radius: 10px;
  overflow: hidden;
}

.image-banner-leaf,
.image-fashion-block {
  display: inline-block;
  min-height: 640px;
}

.image-banner-leaf {
  max-width: 614px;
  padding: 183px 74px 175px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('../img/background-leaf.jpg') center / cover no-repeat;
}

.image-fashion-block {
  vertical-align: top;
  max-width: 626px;
  width: 100%;
  height: 640px;
  background: url('../img/young-people.jpg') center / cover no-repeat;
}

.title-fashion {
  font-family: 'Core Sans C', sans-serif;
  font-size: 34px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  line-height: 1.47;
  margin-bottom: 18px;
}

.text-fashion>p {
  font-family: 'Causten', sans-serif;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 50px;
}

.link-fashion {
  background-color: #ffffff;
  border-radius: 8px;
  color: #3c4242;
  display: inline-block;
  font-family: 'Causten', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 44px;
  text-transform: capitalize;
}

/* clothing section */

.container-clothing {
  font-family: 'Causten', sans-serif;
  margin: 0 auto;
  padding: 50px 15px;
  max-width: 1245px;
}

.title-clothing {
  font-family: 'Core Sans C', sans-serif;
  font-size: 28px;
  color: #3c4242;
  font-weight: 600;
  line-height: 1.17;
  margin-bottom: 30px;
  background: url('../img/deco-bar.svg') no-repeat;
  min-height: 31px;
  letter-spacing: 0.56px;
}

.container-clothing>* {
  padding-left: 21px;
}

.subtitle-clothing,
.more-text {
  font-family: 'Core Sans C', sans-serif;
  font-size: 20px;
  color: #807d7e;
  font-weight: 600;
  line-height: 1.65;
  margin-bottom: 25px;
}

.text-clothing {
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 25px;
  letter-spacing: 0.4px;
}

.text-clothing span {
  font-weight: 700;
  color: #807d7e;
}

.text-clothing p {
  margin-bottom: 20px;
}

/* Experiments */

.container-experiment {
  font-family: 'Inter', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

.title-experiments {
  font-size: 28px;
  margin-bottom: 50px;
  padding: 15px 30px;
  color: aqua;
  background-color: blueviolet;
}

.inner {
  padding: 30px;
  height: 200px;
  margin-bottom: 50px;
}

.top-background {
  background-image:linear-gradient(90deg, rgba(54,176,42,1) 0%, rgba(0,249,255,1) 100%);
  width: 1000px;
  height: 200px;
  margin: 0 auto;
}

.main-title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: rgb(228, 51, 19);
  padding: 50px;
  text-decoration: underline;
}

.background-color {
  background-color: rgba(42, 181, 24, 0.301);
}

.background-image {
  background-image: url('../img/more-leaves-on-green.png');
}

.background-image-fixed {
  background-image: url('../img/lemur.jpg');
  background-attachment: fixed;
  height: 800px;
  background-size: cover;
  background-position: center;

}

.background-image-gradient {
  background-image: linear-gradient(90deg, rgba(148,145,208,1) 0%, rgba(146,255,0,1) 100%);
}

.background-image-repear-x {
  background: rgba(80, 233, 80, 0.363) url('../img/giulia-salvaterra.jpg') repeat-x;
  height: 400px;
  padding:150px 50px;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 900;
  color: chocolate;
}

.background-image-repeat-y {
  background: url('../img/giulia-salvaterra.jpg') repeat-y, radial-gradient(circle, rgba(176,84,42,1) 0%, rgba(0,255,29,1) 100%);
  height: 800px;
  background-position: center;
  margin-bottom: 50px;
}

.background-image-single {
  background: url('../img/giulia-salvaterra.jpg') top left no-repeat, #eb97293a;
}

.background-image-cover {
  background: url('../img/buildings.jpg') 0 0 / cover no-repeat;
  height: 800px;
  margin-bottom: 50px;
}
.background-image-contain {
  background: url('../img/buildings.jpg') center / contain no-repeat;
  height: 1000px;
  margin-bottom: 50px;
}

footer {
  background-image: url('../img/just-waves.webp');
  height: 400px;
  width: 1000px;
  margin: 0 auto;
}